/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}

ul {
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 25px;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

button,
[type=button],
[type=submit] {
  appearance: button;
  cursor: pointer;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 
---------------------------------------------
styles variables
--------------------------------------------- 
*/
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.strong {
  font-weight: bolder;
}

/* ------ media --------------------------------------*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* ------ flex-box --------------------------------------*/
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrapper > * {
  padding-left: 0.8%;
  padding-right: 0.8%;
  padding-bottom: 4%;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

/* ------ media-*/
@media screen and (max-width: 768px) {
  .flex-1-item-perline-s {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .flex-2-item-perline-s {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .flex-3-item-perline-s {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .flex-4-item-perline-s {
    flex: 0 0 23%;
    max-width: 23%;
  }

  .flex-5-item-perline-s {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .flex-6-item-perline-s {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
  }
}
@media screen and (min-width: 768px) {
  .flex-1-item-perline-m {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .flex-2-item-perline-m {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .flex-3-item-perline-m {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .flex-4-item-perline-m {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .flex-5-item-perline-m {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .flex-6-item-perline-m {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
  }
}
@media screen and (min-width: 992px) {
  .flex-1-item-perline-l {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .flex-2-item-perline-l {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .flex-3-item-perline-l {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .flex-4-item-perline-l {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .flex-5-item-perline-l {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .flex-6-item-perline-l {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
  }
}
@media screen and (min-width: 1200px) {
  .flex-1-item-perline-xl {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .flex-2-item-perline-xl {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .flex-3-item-perline-xl {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .flex-4-item-perline-xl {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .flex-5-item-perline-xl {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .flex-6-item-perline-xl {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
  }
}
/* ------ image --------------------------------------*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.circular-thumbnail-img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-thumbnail-img img {
  width: auto;
  height: 100%;
  margin-left: -50%;
}

.img-br-10px {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ------ form -------------------try OOCSS-------------------*/
.form-item {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-item {
    transition: none;
  }
}
.form-item:focus {
  color: #495057;
  background-color: #fff;
  border-color: #2f3133;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(88, 89, 90, 0.25);
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ------ button --------------------------------------*/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #242829;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  border: transparent;
}

/* ------ navbar --------------------------------------*/
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-logo:hover, .navbar-logo:focus {
  text-decoration: none;
}

.navbar-ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-li {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.navbar-a {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-a:hover, .navbar-a:focus {
  text-decoration: none;
}

.large-navbar {
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: absolute;
}

.navbar-collapse {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.nav-position-fix {
  position: fixed;
  top: 0;
}

/* ------ article-page --------------------------------------*/
.article-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .article-page .article-img, .article-page .article-body {
    flex: 0 0 90%;
    max-width: 90%;
  }
}
.article-page .article-body {
  width: 80%;
  text-align: left;
  padding-left: 5%;
}
.article-page .article-body p {
  margin-bottom: 15%;
}
.article-page .article-body h2 {
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  text-align: left;
}

/* ------ case-block --------------------------------------*/
.case {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.case-img,
.case-img-top,
.case-img-bottom,
.case-img-container {
  flex-shrink: 0;
  width: 100%;
}

.case-img-container {
  height: auto;
  overflow: hidden;
}

.case-img,
.case-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.case-img,
.case-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.case-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.case-title {
  margin-bottom: 0.75rem;
}

.case-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

/* ------ pop-up message --------------------------------------*/
.message {
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 0.25rem;
}

.message:not(:last-child) {
  margin-bottom: 0.75rem;
}

.message.show {
  display: block;
  opacity: 1;
}

.message.hide {
  display: none;
}

.message-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.message-body {
  padding: 0.75rem;
}

.show {
  display: flex;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.m-top-5 {
  margin-top: 5%;
}

h1 {
  color: #c2912a;
  margin-bottom: 0.5rem;
}

.gold-btn {
  border: 1px solid #c2912a;
  color: #c2912a;
  margin-top: 5%;
}

.red-btn {
  border: 1px solid red;
  color: red;
}

.yellow-btn {
  border: 1px solid orange;
  color: orange;
}

.green-btn {
  border: 1px solid green;
  color: green;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.navbar-background {
  border-radius: 0.5%;
  background-color: rgba(248, 246, 241, 0.88);
  -webkit-border-radius: 0.5%;
  -moz-border-radius: 0.5%;
  -ms-border-radius: 0.5%;
  -o-border-radius: 0.5%;
}

.navbar-collapse {
  display: none;
  font-weight: bolder;
}

.show {
  display: flex;
}

.nav-li {
  text-align: left;
}

.nav-a {
  color: #c2912a;
  font-size: 1.5rem;
}

.logo {
  width: 20vw;
  display: none;
}

.text-logo {
  margin-right: -50px;
  color: #c2912a;
  font-size: 1.5rem;
  font-weight: bolder;
}

.navbar-toggler-icon {
  color: #c2912a;
  font-size: 3rem;
}

.nav-bottom-line {
  border: 2px solid #c2912a;
  border-right: none;
  border-left: none;
  border-bottom: none;
  margin-bottom: 5%;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
.foot-backgroud {
  border-radius: 0.5%;
  background-color: rgba(248, 246, 241, 0.88);
  -webkit-border-radius: 0.5%;
  -moz-border-radius: 0.5%;
  -ms-border-radius: 0.5%;
  -o-border-radius: 0.5%;
}

.food-top-line {
  border: 2px solid #c2912a;
  border-right: none;
  border-left: none;
  border-bottom: none;
  margin-top: 5%;
}

.nav-footer {
  align-items: center;
  padding: 2% 6%;
  justify-content: space-between;
}
.nav-footer .hidden {
  display: none;
}
.nav-footer h5 {
  font-weight: normal;
}

.footer_top {
  padding-left: 2%;
}

.nav-footer a, .nav-footer h4, .foot-mention a {
  color: #c2912a;
}

/* 
---------------------------------------------
accueil
--------------------------------------------- 
*/
.welcome-image img {
  width: 100%;
  height: auto;
  margin-top: -5%;
}

.welcome h1 {
  color: #c2912a;
  margin-bottom: 0.5rem;
}
.welcome h2 {
  color: #c2912a;
}
.welcome p {
  margin-right: 20%;
}

/* 
---------------------------------------------
huitres
--------------------------------------------- 
*/
.product-wrapper,
.product-img {
  overflow: hidden;
  position: relative;
}

.mb-45 {
  margin-bottom: 45px;
}

.product-action {
  bottom: -20px;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
}

.product-action-style {
  display: inline-block;
  padding: 16px 2px 12px;
  width: 100%;
}

.product-action-style a {
  color: #c2912a;
  font-weight: bolder;
  line-height: 1;
  padding: 0 21px;
}

/* ------huitre detail page-----*/
/* ------ huitre-----*/
@media screen and (max-width: 400px) {
  .huitre-page-producors .huitre-page-producor-info {
    flex: 0 0 92%;
    max-width: 92%;
  }
}
.huitre-page-producors h3 {
  color: black;
  font-family: "Dancing Script", cursive;
}

/* 
---------------------------------------------
producteur
--------------------------------------------- 
*/
.producers .btn {
  border: 1px solid #c2912a;
  color: #c2912a;
}
.producers .btn:hover {
  background-color: rgba(248, 246, 241, 0.88);
}

/* 
---------------------------------------------
blog
--------------------------------------------- 
*/
.blog .nav-category .btn {
  font-size: 1.5rem;
}
.blog .nav-category button.active {
  color: white;
  background-color: #c2912a;
  border-color: transparent;
}
.blog article .btn {
  border: 1px solid #c2912a;
  color: #c2912a;
}
.blog .show {
  display: block;
}
.blog .hidden {
  display: none;
}

/* blog-article */
.blog-article .blog-comments p {
  margin-bottom: 1%;
}
.blog-article textarea {
  min-height: 120px;
}
.blog-article .btn {
  border: 1px solid #c2912a;
  color: #c2912a;
  margin-top: 2%;
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/
/* page de contact */
.contact {
  padding-top: 4%;
  padding-bottom: 6%;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.contact textarea {
  min-height: 100px;
}
.contact .btn {
  border: 1px solid #c2912a;
  color: #c2912a;
  margin-top: 2%;
}

/* confirmation de contact */
.confirm-message {
  width: 50%;
}
.confirm-message h2 {
  color: #c2912a;
  margin-bottom: 5%;
}
.confirm-message .btn {
  background-color: #c2912a;
}
.confirm-message .btn a {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* 
---------------------------------------------
connexion
--------------------------------------------- 
*/
.connect {
  padding-top: 4%;
  padding-bottom: 6%;
}
.connect h3 {
  margin-bottom: 5%;
}
.connect .btn {
  border: 1px solid #c2912a;
  color: #c2912a;
  margin-top: 5%;
}

/* -@media 2 ------------middle scree----------------------- */
@media screen and (min-width: 768px) {
  /* ------ nav-bar -----*/
  .logo {
    display: block;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: flex;
  }
  .navbar-collapse .navbar-ul {
    width: 100%;
    flex-direction: row;
    margin-left: 0%;
    margin-top: 5%;
    padding-right: 0;
  }
  .navbar-collapse .nav-li {
    text-align: center;
  }

  /* ------ footer-----*/
  .nav-footer {
    padding: 2%;
  }

  /* ------ accueil-----*/
  .welcome h1 {
    width: 13.5em;
    height: 1.25em;
    border-right: 1px solid transparent;
    animation: typing 3.5s steps(35, end), blink-caret 0.75s step-end infinite;
    font: bold 3rem "Cormorant Garamond", serif;
    color: #c2912a;
    word-break: break-all;
    overflow: hidden;
    -webkit-animation: typing 3.5s steps(35, end), blink-caret 0.75s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 13.5em;
    }
  }
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: currentColor;
    }
  }

  /* ------ producer-----*/
  .producer h1 {
    margin-bottom: 20%;
  }

  /* ------ contact-----*/
  .contact {
    width: 60%;
  }
}
/* -@media 3  -------big screen------------------ */
@media screen and (min-width: 992px) {
  /* ------ navbar-----*/
  .navbar-collapse {
    flex-basis: 60%;
  }
  .navbar-collapse .navbar-ul {
    margin-left: 5%;
    margin-top: 0%;
  }

  /* ------ footer-----*/
  .nav-footer .l-show {
    display: block;
  }
  .nav-footer .foot-title {
    display: none;
  }
  .nav-footer .foot-presentation {
    margin-left: -10%;
  }

  /* ------ accueil-----*/
  .welcome-image {
    position: relative;
    margin-bottom: 5%;
  }

  .welcome-anim {
    background-color: rgba(248, 246, 241, 0.85);
    border-radius: 0.8rem;
    position: absolute;
    top: 80%;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
  }

  /* ------ blog-----*/
  .product-wrapper {
    border: 5px solid white;
  }

  .product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    right: 0;
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
  }

  .product-action-style {
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  }

  .product-action-style a {
    color: black;
  }

  .product-action-style a:hover {
    color: black;
  }

  .product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1;
  }

  /* ------ connexion-----*/
  .connect {
    width: 80%;
  }
}
/* -@media 3 ----------------max screen -------------------------- */
@media screen and (min-width: 1200px) {
  /* ------ contact-----*/
  .contact {
    width: 50%;
  }

  /* ------ connexion-----*/
  .connect {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
